<div id="test">
	<button  @click="urlContinuar()">
		Simulación Seguro 
	</button>
	<!-- <p>info</p>
	<ul>
		<li v-for="(p, i) in info " v-bind:key="p">
			${ i } - ${ p.idAgrupacion }
		</li>
   </ul> 
   -->
	
	<!-- https://consorcio-corredores-dev.modyo.be/web-corredores/seguros-generales/venta/planes?ids=126  -->
	<p>prueba</p>
	<ul class="lista-simulacion">
		<li v-for="(p, i) in prueba.slice(0, 3)" v-bind:key="p"> 
			<!-- ${ i } - ${ p.nombres } - ${ p.idAgrupacion } - ${ p.flujo }  -->
			<a :href="`https://consorcio-corredores-qa.modyo.be/web-corredores/seguros-generales/venta/${ p.flujo }?ids=${ p.idAgrupacion }`" target="_blank">Simulacion- ${ p.idAgrupacion }
				<span>${ p.flujo } </span>
				<i><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.375 3.5L12.875 8L8.375 12.5" stroke="#53565A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12.25 8H3.125" stroke="#53565A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></i>
			</a>
		</li>
    </ul> 
	<div class="data" style="border: 1px solid red">
		<!-- <p>prueba.filtros. </p>  -->
		<!--  ${prueba.filtros.simulaciones}  -->
		<!-- ${prueba.filtros.simulaciones[0].nombres} -->
		<!--<p>prueba.filtros.simulaciones[0].idAgrupacion</p> 
		${prueba.filtros.simulaciones[0].idAgrupacion} --> 
	</div>
	
	
		<p class="text-center ">
			<strong>prueba api Mock::</strong>  ${info}
		</p>
		<p class="text-center ">
			<strong>prueba api real ::</strong> ${prueba}
		</p>
		<p class="text-center d-none">
		Por rut: ${test}
		</p>
		<hr/>
			<p class="text-center d-none">
		Bancos: ${rut}
	</p>
			<hr/>
			<p class="text-center d-none">
		Token: ${token}
	</p>
</div>

