<div id="test">
	<button  @click="urlContinuar()">
		Simulación Seguro 
	</button>
	<!-- <p>info</p>
	<ul>
		<li v-for="(p, i) in info " v-bind:key="p">
			${ i } - ${ p.idAgrupacion }
		</li>
   </ul> 
   -->
	
	<!-- https://consorcio-corredores-dev.modyo.be/web-corredores/seguros-generales/venta/planes?ids=126  -->
	<p>prueba</p>
	<ul>
		<li v-for="(p, i) in prueba.slice(0, 3)" v-bind:key="p"> 
			<!-- ${ i } - ${ p.nombres } - ${ p.idAgrupacion } - ${ p.flujo }  -->
			<a :href="`https://consorcio-corredores-qa.modyo.be/web-corredores/seguros-generales/venta/${ p.flujo }?ids=${ p.idAgrupacion }`" target="_blank">link  - ${ p.idAgrupacion } - ${ p.nombres } - ${ p.apellidos } - ${ p.flujo } </a>
		</li>
  </ul> 
	<div class="data" style="border: 1px solid red">
		<!-- <p>prueba.filtros. </p>  -->
		<!--  ${prueba.filtros.simulaciones}  -->
		<!-- ${prueba.filtros.simulaciones[0].nombres} -->
		<!--<p>prueba.filtros.simulaciones[0].idAgrupacion</p> 
		${prueba.filtros.simulaciones[0].idAgrupacion} --> 
	</div>
	
	
		<p class="text-center ">
			<strong>prueba api Mock::</strong>  ${info}
		</p>
		<p class="text-center ">
			<strong>prueba api real ::</strong> ${prueba}
		</p>
		<p class="text-center d-none">
		Por rut: ${test}
		</p>
		<hr/>
			<p class="text-center d-none">
		Bancos: ${rut}
	</p>
			<hr/>
			<p class="text-center d-none">
		Token: ${token}
	</p>
</div>

