/* .context-custom-show-seguros-de-vida {
    background-repeat: no-repeat;
    background-position: 210px -60px;
}
 */
.page-formulario-vida h2 {
  color: #53565A;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .page-formulario-vida h2 {
    font-size: 32px;
  }
}

.box-formularios {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .box-formularios {
    margin-top: 53px;
  }
}
.box-formularios .nav-tabs {
  border-bottom: 1px solid #E6ECF6;
}
.box-formularios .nav-tabs .nav-link {
  font-size: 15px;
  color: #53565A;
  font-weight: bold;
  border: none;
}
@media screen and (min-width: 768px) {
  .box-formularios .nav-tabs .nav-link {
    font-size: 20px;
  }
}
.box-formularios .nav-item.show .nav-link,
.box-formularios .nav-link.active {
  color: #84BD00;
  background-color: transparent;
  border-bottom: 4px solid #84BD00;
}
.box-formularios .tab-content-formulario {
  margin-top: 32px;
}

.box-contenido-form {
  background-color: white;
  border: 1px solid #E6ECF6;
  padding: 22px 40px;
}
.box-contenido-form h5 {
  color: #003DA5;
  font-size: 16px;
  font-weight: bold;
}
.tab-tabla .box-contenido-form h5 {
  color: #869FB2;
}
.box-contenido-form h5 + p {
  color: #53565A;
}

.box-descarga-form {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .box-descarga-form {
    margin-top: 70px;
  }
}

.item-descarga {
  margin-bottom: 68px;
}
.item-descarga h6 {
  color: #53565A;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #E6ECF6;
}

.lista-descarga {
  list-style: none;
  margin: 34px 0 0 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .lista-descarga {
    padding: 0 0 0 12px;
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}
.lista-descarga li {
  margin: 0 0 24px 0;
}
.lista-descarga p {
  color: #869FB2;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.lista-descarga a {
  color: #84BD00;
  font-size: 14px;
}

.box-texto-formulario {
  padding: 0 50px;
  margin-top: 40px;
}
.box-texto-formulario p {
  font-size: 12px;
  color: #53565A;
}

.box-descarga-pdf a {
  color: #003DA5;
  font-size: 14px;
}

.icon-pdf {
  position: relative;
  top: -1px;
  margin-right: 8px;
}

.box-tabla-exigencias {
  margin-top: 30px;
  padding-bottom: 70px;
  border-bottom: 1px solid #E6ECF6;
}

.box-texto-tabla {
  margin-top: 65px;
}
.box-texto-tabla p {
  font-size: 12px;
  color: #53565A;
  line-height: 20px;
}

/* Your code */
.main-video {
  background-color: #ffffff;
  padding: 70px 0;
}

.box-video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.box-video-content-info {
  width: 50%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px #d0d0d0;
          box-shadow: 0px 0px 3px #d0d0d0;
  border-radius: 8px 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.like-video {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-video-icon {
  margin-right: 5px;
}

.box-video-content-video {
  width: 50%;
}

/* Quitar cuando este el video */
.box-video-content-video img {
  width: 100%;
}

.all-videos {
  padding: 70px 0;
}

.box-single-video {
  border-radius: 8px;
  margin-bottom: 30px;
  display: block;
}

.box-single-video:hover {
  text-decoration: none;
}

.box-single-video:hover h6,
.box-single-video:hover h4 {
  text-decoration: none;
}

/* Quitar cuando este el video */
.box-single-video-video img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.box-single-video-info {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px #d0d0d0;
          box-shadow: 0px 0px 3px #d0d0d0;
  border-radius: 0 0 8px 8px;
  padding: 32px;
  min-height: 75px;
}

.box-single-video-info h6 {
  color: #53565A;
}

.box-single-video-info h4 {
  color: #003DA5;
}

.footer-blue {
  background-color: #003DA5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-blue-content-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-blue-content-social .left,
.footer-blue-content-social .right {
  width: 50%;
}

.footer-blue-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.footer-blue-social p {
  margin-right: 25px;
  margin-bottom: 0;
}

.footer-blue-social a {
  margin-right: 25px;
}

.footer-blue-social a:last-child {
  margin-right: 0px;
}

.border-b-white {
  border-bottom: 1px solid white;
}

.border-b-grey {
  border-bottom: 1px solid #D9D9D6;
}

.c-color-white {
  color: white;
}

.footer-blue-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.footer-blue-pages a {
  color: white;
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-blue-pages-item {
  width: 25%;
  padding-right: 20px;
}

.footer-blue-pages-item-doble {
  width: 50%;
}

.footer-blue-pages-item-doble .left,
.footer-blue-pages-item-doble .right {
  width: 50%;
}

.footer-blue-pages-item-doble .left {
  padding-right: 20px;
}

.footer-blue-ext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-blue-ext a {
  color: white;
}

.footer-blue-ext .links a {
  margin-right: 40px;
}

.footer-blue-ext .links a:last-child {
  margin-right: 0;
}

.footer-blue-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-blue-bottom-textos {
  width: 45%;
}

@media (max-width: 768px) {
  .box-video-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .box-video-content-info,
.box-video-content-video {
    width: 100%;
  }

  .box-video-content-info {
    border-radius: 8px 8px 0 0;
  }

  .footer-blue-content-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-blue-content-social .left, .footer-blue-content-social .right {
    width: 100%;
  }

  .footer-blue-content-social .left {
    margin-bottom: 20px;
  }

  .footer-blue-pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-blue-pages-item,
.footer-blue-pages-item-doble {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-blue-social a {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .footer-blue-pages-item-doble .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-blue-pages-item-doble .left, .footer-blue-pages-item-doble .right {
    width: 100%;
  }

  .footer-blue-ext {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-blue-ext .links a {
    display: block;
    margin-bottom: 15px;
  }

  .footer-blue-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-blue-bottom-textos {
    margin-bottom: 15px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .footer-blue-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-blue-social p {
    margin-bottom: 15px;
  }
}
/* Nuevo */
/* .box-video-item {
	border-left:1px solid blue;
	width: 590px;
    // height: 335px;
	// height: 389; 
	video {
		border-left:1px solid orange;
		width: 590px;
    	//height: 335px;
	}
} */