img[data-v-56208608] {
  display: block;
  max-width: 100%;
  height: 300px;
}
h3[data-v-56208608] {
  height: 2em;
}
p[data-v-56208608] {
  height: 300px;
  overflow: hidden;
}
.hola[data-v-0e999219] {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid orange;
}
img {
  max-width: 100%;
}
